@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background: rgb(10,2,44);
    background: radial-gradient(circle, rgba(10,2,44,1) 55%, rgba(7,3,74,1) 98%);

    color:  #fff;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.brand span {
    color: aqua;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}



.menu a{
    color:#fff;
    padding: 10px 15px;
    border-radius: 10px;
}

.menu .active{
    color: aqua;
}

.menu a:hover{
    background-color: aqua;
    color: #191c32;
    transition:ease-in .4s ;
    
}

#yo{
    width: 100%;
    height: auto;
}

.main{

    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(200px, 1fr));
    align-items: center;

}

h1{
    font-size: 41px;
    background: rgb(92,232,255);
    background: linear-gradient(90deg, rgba(92,232,255,1) 47%, rgba(180,255,245,1) 100%);
    background-clip: text;
    color: transparent;
}
